{% extends "../main.html.twig" %}

{% block body %}
    <h2>Wypożycz książkę</h2>
    
    {% if message is defined %}
        <p class="padding-10 bg-success">
            {{- message -}}
        </p>
    {% endif %}

    {% if warning is defined %}
        <p class="padding-10 bg-warning">
            {{- warning -}}
        </p>
    {% endif %}
    
    
{% endblock %}