{% extends "../form.html.twig" %}

{% block body %}
    <h1>Logowanie</h1><br>

    <form name="login-form" id="login-form" action="login">
        <input name="username" placeholder="Email" value="" type="text" required>
        <input name="password" placeholder="Hasło" value="" type="password" required>
        <input name="submit" class="login login-submit" value="Zaloguj się" type="submit">
    </form>
    
    <div class="login-help">
        <a href="index">Powrót do strony głównej</a>
    </div>
{% endblock %}