{% extends "../main.html.twig" %}


{% block body %}
<h1>Rejestracja przebiegła pomyślnie. Prosimy o cierpliwość administracja biblioteki akceptuje Twoje konto najszybciej
    jak tylko będzie to możliwe.</h1>
{% endblock %}