<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title></title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
    {% endblock %}
    
</head>
<body>
    {% block body %}
        
    {% endblock %}
    
    {% block javascripts %}
        
    {% endblock %}
</body>
</html>

